body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 420px;
    background: rgb(104, 202, 171);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 60px;
}

.upload-box {
    width: 100%;
    padding: 20px;
    text-align: center;
    border: 2px dashed #ccc;
    border-radius: 5px;
    cursor: pointer;
    background: #fafafa;
}

.upload-box:hover {
    border-color: #007bff;
}

button {
    width: 100%;
    background-color: #284ca7;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #21887f;
}

.status-box, .response-box {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.admin-link {
    display: block;
    margin-top: 20px;
    padding: 12px;
    text-align: center;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.admin-link:hover {
    background-color: #0056b3;
    text-decoration: none;
}

